/build/
/lib/build/
/local.properties
/notes.md
/passwdsafe/.cxx/
/passwdsafe/build/
/secrets.properties
/sync/build/
/.gradle/
/.idea/androidTestResultsUserPreferences.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/emulatorDisplays.xml
/.idea/workspace.xml
/.idea/caches/
/.idea/libraries/
/.idea/shelf/
/.idea/**/*.iml
